/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f3f6ff;
}

a {
  color: #FF6F61;
}

a:hover,
a:active,
a:focus {
  color: #353535;
  outline: none;
  text-decoration: none;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

@media(min-width: 992px) {
  .container-fluid {
      padding-right: 60px;
      padding-left: 60px;
  }
}


.button{
  color: #fff;
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #FF6F61;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem #404040 solid;
}
.button.primary{
  background-color: #FF6F61;
}
.button.secondary{
  background-color: #fa6bff;
}
@import url("./components/Login/Login.css");
@import url("./components/Navbar/Navbar.css");
@import url("./components/products/Product.css");
